.checkbox {
  display: block;
  margin: $small-size 0;
}

.checkbox__box {
  margin-left: $small-size;
  margin-right: $small-size / 2;
}

.checkbox__label {
  color: $dark-grey;
  font-size: $base-font-size;
  font-weight: bold;
  margin: $small-size auto 0 auto;

  @include desktop {
    margin: 0;
  }
}
